#remplissage {
    display: flex;
    justify-content: center;
    margin: 200px;
    background: linear-gradient(to right, #00ff00, #32cd32, #228b22, #006400);
}

#accueil {
    padding: 20px;
    border-radius: 15px;
    font-size: 50px;
}

#accueil a {
    text-align: center;
    justify-content: center;
    align-items: center ;
}

