* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hylia Serif Beta';
    scroll-behavior: smooth;
}



header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#banner {
    width: 100%;
    height: auto;
}

#head-title {
    position: absolute;
    z-index: 1;
}

h1 {
    position: absolute;
    color: darkgreen;
    font-size: 4rem;
    letter-spacing: 5px;
}

#navbar {
    background-color: #fbf2c0;
    width: 100%;
    border-bottom: 8px solid #313e50;
    border-top: 8px solid #313e50;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
    text-align: center;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
}

li a {
    font-size: 3rem;
    text-decoration: none;
    color: black;
    transition: color 0.3 ease;
}

li a:hover {
    transition: color 0.3 ease;
    color: green;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border-top: 8px solid #313e50;
    justify-content: center;
    align-items: center;
    background-color: #fbf2c0;
}

#bottom-text {
    font-size: 3rem;
}

.fa-brands {
    font-size: 3rem;
    margin: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

#icons {
    display: flex;
    justify-content: center;
    }

.menu-btn {
        display: none;
    }

.a {
    display: none;
}


@media (max-width: 880px) {
    a {
        display: none;
    }
    #navbar {
        height: 50px;
    }

h1 {
    font-size: 3rem;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.btn-line {
    width: 30px;
    height: 3px;
    background: #333;
    margin: 4px;
    transition: all 0.3s ease;
}

.menu {
    position: fixed;
    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: -100%;
    width: 300px;
    height: 300px;
    /* background: #fff; */
    z-index: 1000;
    transition: left 0.3s ease;
}

.menu.active {
    left: 200px;
}

.ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    padding-top: 10px;
    text-align: center;
}

.li {
    padding: 20px;
}

.a {
    display: flex;
    text-decoration: none;
    color: #333;
    font-size: 3rem;
}}
