.gameName {
    font-size: 1.3rem;
    padding: 5px;
}

#boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(to right, #00ff00, #32cd32, #228b22, #006400);
}

.box {
    border: 2px solid black;
    width: 400px;
    border-radius: 15px;
    font-size: 1.1rem;
    text-align: center;
    height: fit-content;
    background: linear-gradient(to right, yellow, #adff2f, #32cd32, #228b22, #006400);
    overflow: hidden;
    transition: all 0.3s ease;
    max-height: 250px;
}

.box:hover {
    transform: translate(0, -15px);
    box-shadow: 10px 0px 25px 5px #313e50, -10px 5px 25px 5px #313e50;
}

.imgContainer {
    max-height: 200px;
    overflow: hidden;
}

#dropDownConsole, #dropDownDate {
    padding: 11px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.6s ease;
    transform: translateY(100%);
}

.box.show #dropDownConsole, .box.show #dropDownDate {
    opacity: 1;
    transform: translateY(0);
}

.box.show {
    max-height: 400px;
}




